.playerPic {
    width: 60px;
    height: 60px;
    background-size: cover;
    display: block;
    /* border-radius: 50%; */
    overflow: hidden;
    color : black;
}

.skaterPic {
    border : 3px solid #236192;

}

.goaliePic {
    border : 3px solid #6F263D;
}